.employees {
    padding: 80px 0;
    position: relative;
}
.employees .marks{
    position: absolute;
    top: 55px;
    left: -30px;
    z-index: -1;
}
.employees .react-multi-carousel-list  {
    height: 500px;
}
.employees .react-multi-carousel-dot button  {
    width: 39px;
    height: 6px;
    border: none;
    border-radius: 8px;
    background: rgba(241, 116, 126, 0.45);
}
.employees .react-multi-carousel-dot--active button  {
    background: #F14F5C;
}